<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GearHead - Homepage</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Rajdhani:wght@300;400&family=Sarpanch&family=Urbanist:ital,wght@1,100&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/homepageStyle.css">
    </head>    
    <body>
        <nav>
            <a href="/" id="homeLink" class="publicPages"><section id="titleContainer">
                <h1 id="title"><strong>GearHead</strong> <br>Shop Management System</h1> 
           </section></a>
           <section id="navDashContainer">
                <ul id="navLinks">
                    <li>
                        <button onclick="dropDownFunction()" class="dropbtn">Application</button>
                        <div id="appDropdown" class="dropdown-content">
                            <a href="/preview#estimatesContainer" id="estimates">Estimates
                                <img src="estimatesIcon.jpeg">
                            </a>
                            <a href="/preview#communicationsContainer" id="communications">Communications
                                <img src="communicationIcon01.jpeg">
                            </a>
                            <a href="/preview#paymentsContainer" id="paymentProcessing">Payment Processing
                                <img src="paymentIcon.jpeg">
                            </a>
                            <a href="/preview#workflowContainer" id="workflow">Workflow
                                <img src="workflowIcon01.jpeg">
                            </a>
                            <a href="/preview#employeesContainer" id="teamManagement">Team Management
                                <img src="teamManagementIcon.jpeg">
                            </a>
                            <a href="/preview#reportsContainer" id="reporting">Reporting
                                <img src="reportingIcon.jpeg">
                            </a>
                        </div>
                    </li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/company">Company</a></li>
                </ul>
                <section id="buttonContainer">
                    <a href="/login" id="loginLink" class="navButton">Sign In</a>
                    <a href="/login#signin" id="signupLink" class="navButton">Sign Up</a>
                </section>
           </section>
        </nav>
        <section id="hook" class="homepageSection">
            <img src="homepageImage07.jpeg" alt="hook image">
            <section class="homepageTextContainer">
                <h2>The Greatest and Fastest <br>Auto Management Solution!</h2>
                <p>Add the biggest and baddest tool to your shop with Turbo. Allow your shop to flow and produce results all from one place.</p>
            </section>
        </section>
        <section id="demo1" class="homepageSection">
            <section class="homepageTextContainer">
                <h2>Streamline your business workflow</h2>
                <h3>Initialize, Track, and Complete every task all in one place</h3>
                <ul id="demo1List">
                    <li>Create and Manage Jobs</li>
                    <li>Easily Generate and Share Estimates and POs</li>
                    <li>Monitor and Manage your Technicians</li>
                    <li>Track Inventory in realtime</li>
                    <li>Send Invoices and Process Payments</li>
                    <li>Schedule Appointments with Automated Reminders</li>
                    <li>And More</li>
                </ul>
            </section>
            <img src="homepageImage01.jpeg" alt="demo image">
        </section>
        <section id="demo2" class="homepageSection">
            <img src="homepageImage06.jpeg" alt="demo image">
            <section class="homepageTextContainer">
                <h2>Your customers will know everything <br>about their vehicles in realtime</h2>
                <h3>Communication is Key</h3>
                <span>Keep your customers informed on costs, job updates, and timeframes with our integrated messaging system.</span>
            </section>
        </section>
        <section id="demo3" class="homepageSection">
            <section class="homepageTextContainer">
                <h2>Rely On Our Experts At All Times</h2>
                <h3>Support and Integration</h3>
                <span>Allow our team to quickly and efficiently bring everything Turbo has to offer to your business.</span>
            </section>
            <img src="supportImage02.jpeg" alt="demo3 image">
        </section>
        <section id="reel" class="homepageSection">
            <h2>RAPIDLY GROW YOUR BUSINESS AND SEE INCREASED RESULTS IN EVERY PROCESS</h2>
            <section id="reelContainer">
                <a href="/login" id="loginLink" class="bodyButton">Sign In</a>
                <a href="/login#signin" id="signupLink" class="bodyButton">Sign Up</a>
            </section>
        </section>
        <footer>
            <ul>
                <li><a href="/company">Company</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
            <section id="socials">
                <ul>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>FaceBook</li>
                </ul>
            </section>
        </footer>
        <script src='/js/homepageScript.js'></script>
    </body>
</html>