<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GearHead - Homepage</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Rajdhani:wght@300;400&family=Sarpanch&family=Urbanist:ital,wght@1,100&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="homepageStyle.css">
        <link rel="stylesheet" href="dashboardStyle.css">
    </head>    
    <body>
        <a href="/dashboard" id="homeLink"><section id="titleContainer">
            <img src="gearHead01.jpeg" id="dashboardLogo" alt="dashboard logo image">
       </section></a>
        <nav>
                <ul id="mainDash">
                    <li><a href="/dashboard" title="Dashboard"><i class="icon-dashboard"></i></a></li>
                    <li><a href="#" title="Point of Sale"><i class="icon-money"></i></a></li>
                    <li><a href="/jobs" title="Jobs & Appointments"><i class="icon-tasks"></i></a></li>
                    <li><a href="#" title="My Shop"><i class="icon-building"></i></a></li>
                    <li><a href="#" title="Customers"><i class="icon-group"></i></a></li>
                    <li><a href="#" title="Reports"><i class="icon-bar-chart"></i></a></li>
                    <li><a href="#" title="Settings"><i class="icon-cogs"></i></a></li>
                </ul>
            
            <section id="buttonContainer">
                <a href="#" id="accountLink" class="navButton">Account</a>
                <a href="/login" id="signout" class="navButton">Sign Out</a>
            </section>
        </nav>

        <section id="dashSquares">
            <section id="enterJobs" class="dashSquare">
                <h2 class="dashTitle">Add Job</h2>
                <label for="date-dropdown">Car Year</label>
                <select id='date-dropdown' form="addJobForm">
                </select>
                <label for="carmake">Car Make</label>
                <select id="carmake" name="carMakeList" form="addJobForm" onchange="runCarApi(this.value)">
                    <option value="acura">Acura</option>
                    <option value="alfa-romeo">Alfa Romeo</option>
                    <option value="audi">Audi</option>
                    <option value="bmw">BMW</option>
                    <option value="bentley">Bentley</option>
                    <option value="buick">Buick</option>
                    <option value="cadillac">Cadillac</option>
                    <option value="chevrolet">Chevrolet</option>
                    <option value="chrysler">Chrysler</option>
                    <option value="dodge">Dodge</option>
                    <option value="fiat">Fiat</option>
                    <option value="ford">Ford</option>
                    <option value="gmc">GMC</option>
                    <option value="genesis">Genesis</option>
                    <option value="honda">Honda</option>
                    <option value="hyundai">Hyundai</option>
                    <option value="infiniti">Infiniti</option>
                    <option value="jaguar">Jaguar</option>
                    <option value="jeep">Jeep</option>
                    <option value="kia">Kia</option>
                    <option value="land-rover">Land Rover</option>
                    <option value="lexus">Lexus</option>
                    <option value="lincoln">Lincoln</option>
                    <option value="lotus">Lotus</option>
                    <option value="lucid">Lucid</option>
                    <option value="maserati">Maserati</option>
                    <option value="mazda">Mazda</option>
                    <option value="mercedes-benz">Mercedes-Benz</option>
                    <option value="mercury">Mercury</option>
                    <option value="mini">Mini</option>
                    <option value="mitsubishi">Mitsubishi</option>
                    <option value="nissan">Nissan</option>
                    <option value="polestar">Polestar</option>
                    <option value="pontiac">Pontiac</option>
                    <option value="rivian">Rivian</option>
                    <option value="rolls-royce">Acura</option>
                    <option value="saab">Saab</option>
                    <option value="saturn">Saturn</option>
                    <option value="scion">Scion</option>
                    <option value="smart">Smart</option>
                    <option value="subaru">Subaru</option>
                    <option value="suzuki">Suzuki</option>
                    <option value="tesla">Tesla</option>
                    <option value="toyota">Toyota</option>
                    <option value="volkswagon">Volkswagon</option>
                    <option value="volvo">Volvo</option>
                </select>
                <form id="addJobForm">
                    <input type="text" name="customerName" placeholder="Customer Name">
                    <input type="text" name="customerCar" placeholder="Customer Car">
                    <button type="submit" name="submitJob">Add</button>
                </form>
            </section>
            <section id="activeJobs-jobs" class="dashSquare">
                <h2 class="dashTitle">Active Jobs</h2>
                <ul class="dashDataContainer">
                    <li><a href="#">
                        <div>
                            <h3>Job #1</h3>
                            <h4>Joshua Paz</h4>
                            <h5>2019 Subaru Impreza WRX</h5>
                            <span>More Carbon Fiber</span>
                        </div>
                        <div class="jobStat">
                            <label for="jobstatus">Priority:</label>
                            <select name="cars" id="cars">
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                            <div class="statusContainer">
                                <h4>Completed Status</h4>
                                <span>75%</span>
                            </div>
                        </div>
                    </a></li>
                    <li><a href="#">
                        <div>
                            <h3>Job #2</h3>
                            <h4>Jeffrey Brawlik Lewis</h4>
                            <h5>2015 Hyundai Genesis Coupe</h5>
                            <span>More Horsepower Babyyy</span>
                        </div>
                        <div class="jobStat">
                            <label for="jobstatus">Priority:</label>
                            <select name="cars" id="cars">
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                            <div class="statusContainer">
                                <h4>Completed Status</h4>
                                <span>25%</span>
                            </div>
                        </div>
                    </a></li>
                    <li><a href="#">
                        <div>
                            <h3>Job #3</h3>
                            <h4>Zachary Cucolo</h4>
                            <h5>2012 Mitsubishi Lancer Evo</h5>
                            <span>Turbo Kit Go PHSSTTTUUUTUTUTUTU</span>
                        </div>
                        <div class="jobStat">
                            <label for="jobstatus">Priority:</label>
                            <select name="cars" id="cars">
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                            <div class="statusContainer">
                                <h4>Completed Status</h4>
                                <span>90%</span>
                            </div>
                        </div>
                    </a></li>
                </ul>
            </section>
            <section id="upcomingJobs" class="dashSquare">
                <h2 class="dashTitle">Upcoming Jobs</h2>
                <ul class="dashDataContainer">
                    <li><a href="#">
                        <div>
                            <h4>Kenny Ortigas</h4>
                            <h5>2018 Subaru BRZ</h5>
                            <span>Needs Horsepower</span>
                        </div>
                    </a></li>
                </ul>
            </section>
        </section>
 

        <footer>
            <ul>
                <li><a href="/company">Company</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
            <section id="socials">
                <ul>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>FaceBook</li>
                </ul>
            </section>
        </footer>
        <script src='/dashboardScripts.js'></script>
    </body>
</html>