<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GearHead - Login</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Rajdhani:wght@300;400&family=Sarpanch&family=Urbanist:ital,wght@1,100&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="homepageStyle.css">
    </head>    
    <body>
        <a href="/" id="homeLink"><section id="titleContainer">
            <h1 id="title"><strong>GearHead</strong> <br>Shop Management System</h1> 
       </section></a>
        <nav>
            <ul id="navLinks">
                <li>
                    <button onclick="dropDownFunction()" class="dropbtn">Application</button>
                    <div id="appDropdown" class="dropdown-content">
                        <a href="#" id="estimates">Estimates
                            <img src="estimatesIcon.jpeg">
                        </a>
                        <a href="#" id="communications">Communications
                            <img src="communicationIcon01.jpeg">
                        </a>
                        <a href="#" id="paymentProcessing">Payment Processing
                            <img src="paymentIcon.jpeg">
                        </a>
                        <a href="#" id="workflow">Workflow
                            <img src="workflowIcon01.jpeg">
                        </a>
                        <a href="#" id="teamManagement">Team Management
                            <img src="teamManagementIcon.jpeg">
                        </a>
                        <a href="#" id="reporting">Reporting
                            <img src="reportingIcon.jpeg">
                        </a>
                    </div>
                </li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="#">Company</a></li>
            </ul>
            <section id="buttonContainer">
                <a href="/login" id="loginLink" class="navButton">Sign In</a>
                <a href="#signin" id="signupLink" class="navButton">Sign Up</a>
            </section>
        </nav>
        <section id="login" class="homepageSection">
            <h2>SIGN IN TO YOUR GEARHEAD ACCOUNT BELOW</h2>
            <form action='/signin' method="POST" id="loginForm">
                <input type="text" placeholder="Email" name="username">
                <input type="text" placeholder="Password" name="password">
                <button class="button-85" id='loginButton' type="submit">Login</button>
            </form>
        </section>
        <section id="signin" class="homepageSection">
            <h2>CREATE A GEARHEAD ACCOUNT</h2>
            <form action='/signup' method="POST" id="signUpForm" name="signin">
                <input type="text" placeholder="Email" name="newusername">
                <input type="text" placeholder="Password" name="newpassword">
                <button class="button-85" id='signUpButton' type="submit">Create an Account</button>
            </form>
        </section>
        <footer>
            <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
            <section id="socials">
                <ul>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>FaceBook</li>
                </ul>
            </section>
        </footer>

        <script src='/homepageScript.js'></script>
    </body>
</html>