<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GearHead - Pricing</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Rajdhani:wght@300;400&family=Sarpanch&family=Urbanist:ital,wght@1,100&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/homepageStyle.css">
    </head>    
    <body>
        <nav>
            <a href="/" id="homeLink" class="publicPages"><section id="titleContainer">
                <h1 id="title"><strong>GearHead</strong> <br>Shop Management System</h1> 
           </section></a>
           <section id="navDashContainer">
                <ul id="navLinks">
                    <li>
                        <button onclick="dropDownFunction()" class="dropbtn">Application</button>
                        <div id="appDropdown" class="dropdown-content">
                            <a href="/preview#estimatesContainer" id="estimates">Estimates
                                <img src="/images/estimatesIcon.jpeg">
                            </a>
                            <a href="/preview#communicationsContainer" id="communications">Communications
                                <img src="/images/communicationIcon01.jpeg">
                            </a>
                            <a href="/preview#paymentsContainer" id="paymentProcessing">Payment Processing
                                <img src="/images/paymentIcon.jpeg">
                            </a>
                            <a href="/preview#workflowContainer" id="workflow">Workflow
                                <img src="/images/workflowIcon01.jpeg">
                            </a>
                            <a href="/preview#employeesContainer" id="teamManagement">Team Management
                                <img src="/images/teamManagementIcon.jpeg">
                            </a>
                            <a href="/preview#reportsContainer" id="reporting">Reporting
                                <img src="/images/reportingIcon.jpeg">
                            </a>
                        </div>
                    </li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/company">Company</a></li>
                </ul>
                <section id="buttonContainer">
                    <a href="/login" id="loginLink" class="navButton">Sign In</a>
                    <a href="/login#signin" id="signupLink" class="navButton">Sign Up</a>
                </section>
           </section>
        </nav>

        <section id="titlePlan" class="homepageSection pricing">
            <h2>This one is on us. Enjoy and be the best shop around!</h2>
            <section>

            </section>
        </section>
        <section id="plan1" class="homepageSection pricing plan">
            <h2>GearHead Turbo coming soon!</h2>
            <section>

            </section>
        </section>
        <!-- <section id="plan2" class="homepageSection pricing plan">
            <h2>Plan 2</h2>
            <section>

            </section>
        </section>
        <section id="plan3" class="homepageSection pricing plan">
            <h2>Plan 3</h2>
            <section>

            </section>
        </section> -->


        <footer>
            <ul>
                <li><a href="/company">Company</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
            <section id="socials">
                <ul>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>FaceBook</li>
                </ul>
            </section>
        </footer>

        <script src='/js/homepageScript.js'></script>
    </body>
</html>