
/* 
font-family: 'Rajdhani', sans-serif;
font-family: 'Sarpanch', sans-serif;
font-family: 'Urbanist', sans-serif;
font-family: 'Antic Didone', serif;
 */

/* Nav Style */
nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    border-radius: 2px;
    border-bottom: 3px solid #3FA3C8;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
#navLinks{
    display: flex;
    flex-direction: row;
    width: 40%;
    list-style: none;
    padding: 0;
    align-items: center;
}
#navLinks li{
    flex-grow: 1;
}
#navLinks li > a{
    color: black;
    text-decoration: none;
}
#titleContainer{
    position: absolute;
    float: left;
    z-index: 1;
    width: 30%;
    height: auto;
    background-color: #fafaf9;
    border: 2px solid #3FA3C8;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 1%;
    padding: .5%;
    box-shadow: 0 30px 40px rgba(0,0,0,.15);
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
#titleContainer:hover{
    box-shadow: 0 5px 10px #3FA3C8;
}
#buttonContainer{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navButton, .bodyButton{
    margin: 3%;
    height: 45%;
    width: 40%;
    background-color: #83bdd7;
    border: 2px solid #077bae;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 2.8%;
}
.navButton:hover, .bodyButton:hover{
    box-shadow: 0 5px 10px #3FA3C8;
}
.bodyButton{
    padding: 1%;
}
button{
    border-radius: 6px;
    border: none;
    background-color: inherit;
}
button:hover{
    box-shadow: 0 5px 10px #3FA3C8;
    cursor: pointer;
}

    /* Dropdown Button */
    .dropbtn{
        padding: 1%;
        cursor: pointer;
    }
    .dropdown{
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        z-index: 1;
        background-color: white;
        border: 2px solid #83bdd7;
        border-radius: 8px;
        padding: .75%;
        width: 45%;
        height: 55%;
        -webkit-animation: fadeInFromNone 0.5s ease-out;
        -moz-animation: fadeInFromNone 0.5s ease-out;
        -o-animation: fadeInFromNone 0.5s ease-out;
        animation: fadeInFromNone 0.5s ease-out;
    }
    .dropdown-content a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 33%;
        width: 50%;
        color: black;
        cursor: pointer;
    }
    .dropdown-content a:hover {
        color: #83bdd7;
    }
    .show{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .dropdown-content a > img{
        width: 100px;
        height: 100px;
    }
    
.homepageSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5% 0%;

    transform: translateY(150px);
    opacity: 0;
    transition: 1.25s all ease;
}
.homepageSection.active{
    transform: translateY(0);
    opacity: 1;
}
.homepageSection img{
    width: 40%;
    height: auto;
    border-radius: 8px;
    margin: 2%;
    box-shadow: 0 30px 40px rgba(0,0,0,.3);
}
.homepageTextContainer{
    width: 40%;
}
#hook{
    background-color: #fafaf9;
    padding-top: 12%;
}
#demo1{
    align-items: center;
}
#demo2{
    align-items: center;
    background-color: #fafaf9;
}
#demo3{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#reel, #login, #signin, .pricing{
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #3FA3C8;
    background-color: #fafaf9;
    border-radius: 10px;
    width: 80%;
    margin: 0% 10%;
}
#login, #signin{
    margin-top: 10%;
    margin-bottom: 5%;
    height: 14em;
}
#reelContainer, #loginContainer{
    display: flex;
    width: 50%;
    height: 15%;
    justify-content: space-between;
}
#reel button{
    font-size: 1.2em;
    width: 45%;
    height: 40px;
}
.pricing{
    margin-top: 10%;
}
#titlePlan:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url("homepageImage09.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#plan1:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url("digitalCar07.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#plan2:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url("digitalCar04.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#plan3:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url("digitalCar02.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 1% 0%;
}
footer ul li{
    justify-content: space-between;
    width: 33%;
    list-style-type: none;
}
#socials{
    background-color: #fafaf9;
    border-top: 3px solid #3FA3C8;
}
#socials li{
    width: 15%;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
}
#login > h2, #signin > h2{
    margin-top: 1%;
}
form > input{
    width: 65%;
    height: 22%;
    margin: 2.5%;
    border-radius: 6px;
    border: 2px solid grey;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
form button{
    width: 100%;
    height: 45%;
    margin: 3%;
    border: 2px solid lightgrey; 
}

/* =============== Styles =============== */
#title{
    font-family: 'Sarpanch', sans-serif;
    margin: 1% 0%;
    line-height: 1.1em;
}
a, button{
    font-size: 1em;
    font-family: 'Sarpanch', sans-serif;
    text-decoration: none;
    color: black;
}
strong{
    font-weight: bold;
    font-size: 1.5em;
}
h2{
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.5em;
}
h3{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5em;
}
p, span, li{
    font-family: 'Poiret One', cursive;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.5em;
}
#demo1List li{
    list-style-type: disc;
}
footer a{
    text-decoration: none;
    color: black;
}

/* =========== Animations ================= */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}
/* 
.parent:hover .child{
    display: block;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
} */
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
